<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.CAMERA"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_MEDIA_IMAGES" />

    <application
        android:name=".util.App"
        android:allowBackup="false"
        android:requestLegacyExternalStorage="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:hardwareAccelerated="true"
        android:icon="@drawable/app_logo"
        android:label="@string/app_name"
        android:roundIcon="@drawable/app_logo"
        android:supportsRtl="true"
        android:usesCleartextTraffic="true"
        android:theme="@style/Theme.Dream_IAS"
        tools:targetApi="31">
        <activity
            android:name=".activity.testInfo.PracticeInstructionActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.help.PrivacyPolicyActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.help.AboutUsActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.solution.SolutionForContestActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.leaderBoard.LeaderBoardActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.results.ResultsActivity"
            android:exported="true"
            android:screenOrientation="portrait">

            <!--<intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>-->

        </activity>
        <activity
            android:name=".activity.viewAnalysis.ViewAnalysisActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.subscription.SubscriptionActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.proMember.ProMemberActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.help.HelpSupportActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.faq.FAQActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.notification.NotificationActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.kycDocument.VerifyBankAccountActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.kycDocument.VerifyEmailAddressActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.kycDocument.VerifyPanCardActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.kycDocument.VerifyAccountActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.wallet.TopUpActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.dreamIas.DreamIasActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.wallet.WalletActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.login.OtpVerificationActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.login.LoginActivity"
            android:exported="true"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.TourActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.RegistrationActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.HomeActivity"
            android:exported="true"
            android:windowSoftInputMode="adjustPan"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name=".activity.ContestsListActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.SplashActivity"
            android:exported="true"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activity.testInfo.InstructionActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.testInfo.VideoTipsActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.quiz.QuizMoneyActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".activity.quiz.QuizActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.testInfo.TestInfoActivity"
            android:screenOrientation="portrait" />
        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="com.example.dream_ias.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true"
            tools:replace="android:authorities">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>
        <activity
            android:name=".util.TakeImageWithCrop"
            android:screenOrientation="portrait"
            />
        <activity android:name="com.soundcloud.android.crop.CropImageActivity" />
        <meta-data
            android:name="com.google.firebase.messaging.default_notification_icon"
            android:resource="@drawable/app_logo" />
        <meta-data
            android:name="com.google.firebase.messaging.default_notification_channel_id"
            android:value="@string/default_notification_channel_id" />
        <service
            android:name=".activity.firebaseNotification.MyFireBaseMessagingServices"
            android:directBootAware="true"
            android:exported="false">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>
        <meta-data
            android:name="com.razorpay.APIKEY"
            android:value="rzp_test_HAjmA7HGJpglFK"/>
    </application>


</manifest>